### Macos
*DS_Store

# Created by .ignore support plugin (hsz.mobi)
### Maven template
target/
.mvn/wrapper/*.jar

# Helm generated folder
./deploy/charts/generated

# Local resource files
src/main/local-resources/*
bin
build/

### JetBrains template
*.iml
.idee
## Directory-based project format:
.idea/

# Gradle:
# .idea/gradle.xml
# .idea/libraries
.gradle

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

